@keyframes stuckMoveDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes stuckMoveUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes stuckFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes blink {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
@keyframes phone_move {
	0% {
		opacity: 0.8;
		width: 0;
		height: 0;
	}
	100% {
		opacity: 0.1;
		width: 50px;
		height: 50px;
	}
}
@keyframes phone_move_2 {
	0% {
		opacity: 0.8;
		width: 10px;
		height: 10px;
	}
	100% {
		opacity: 0.1;
		width: 50px;
		height: 50px;
	}
}
*:focus{
	outline: none;
}
.elementor-sticky--effects{
	    animation: stuckMoveDown .6s;
}
.page-header .entry-title {
    display: none;
}

/* Scroll top*/
#ab-back-to-top {
	position: fixed;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: transparent;
	color: #fc6702;
	font-size: 18px;
	border: 1px solid #fc6702;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 999;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	&:hover {
		background: #000;
		border-color: #000;
		color: #fff;
	}
	&.active {
		opacity: 0.6;
		visibility: visible;
	}
}

/* Contact*/

#contact{
	position: fixed;
	left: 0;
	top: 50%;
	z-index: 9999999;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	background: #fff;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 0 0 10px #ccc;
	.contact-inner{
		position: relative;
		a{
			display: flex;
			align-items: center;;
			justify-content: center;
			width: 60px;
			height: 60px;
			border-bottom: 1px solid #ebebeb;
			svg{
				width: 20px !important;
				height: auto !important;
			}
			p{
				position: absolute;
				top: 50%;
				left: calc(100% + 10px);
				z-index: 1;
				transform: translateY(-50%);
				background: #000;
				color: #fff;
				border-radius: 10px;
				padding: 5px 10px;
				font-size: 12px;
				white-space: nowrap;
				margin-bottom: 0;
				opacity: 0;
				visibility: hidden;
				transition: 150ms;
				&:before{
					content: "";
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-right: 10px solid #000;
					position: absolute;
					top: 50%;
					left: -5px;
					z-index: 1;
					transform: translateY(-50%);
				}
			}
			&:hover{
				p{
					opacity: 1;
					visibility: visible;
				}
			}
		
		}
		&:last-child{
			a{
				border-bottom: 0;
			}
		}
		&.phone{
			position: relative;
			&:before{
				content: "";
				display: block;
				border-radius: 50%;
				background: red;
				animation: 1s phone_move infinite ;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%);
				pointer-events: none;
			}
			&:after{
				content: "";
				display: block;
				border-radius: 50%;
				background: red;
				animation: 1s phone_move_2 infinite ;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%);
				pointer-events: none;
			}
		}
	}
	&.right{
		left: auto;
		right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		.contact-inner{
			a{
				p{
					left: auto;
					right: calc(100% + 10px);
					&:before{
						right: -5px;
						left: auto;
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
		}
	}
	
}
@media(max-width: 1024px){
    #contact{
        display: none;
    }
}

// Ẩn hiện sidebar
@media(min-width: 1025px){
	body:not(.elementor-editor-active){
		.elementor-widget-sidebar{
			&.elementor-hidden-desktop{
				position: fixed;
				top: 0;
				left: -100%;
				z-index: 999;
				height: 100vh;
				transition: all 450ms;
				width: 80%;
				max-width: 450px;
				display: block;
				overflow-y: auto;
				&.show{
					left: 0;
				}
			}
		}
	}
}
@media(min-width: 768px) and (max-width: 1024px){
	body:not(.elementor-editor-active){
		.elementor-widget-sidebar{
			&.elementor-hidden-mobile,
			&.elementor-hidden-tablet{
				position: fixed;
				top: 0;
				left: -100%;
				z-index: 999;
				height: 100vh;
				transition: all 450ms;
				width: 80%;
				max-width: 450px;
				display: block;
				overflow-y: auto;
				&.show{
					left: 0;
				}
			}
		}
	}
}
@media(max-width: 767px){
	body:not(.elementor-editor-active){
		.elementor-widget-sidebar{
			&.elementor-hidden-phone{
				position: fixed;
				top: 0;
				left: -100%;
				z-index: 999;
				height: 100vh;
				transition: all 450ms;
				width: 80%;
				max-width: 450px;
				display: block;
				overflow-y: auto;
				&.show{
					left: 0;
				}
			}
		}
	}
}

.sidebar-toggle-button{
	cursor: pointer;
	.mash{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		visibility: hidden;
		transition: all 350ms;
	}
	.close-button{
		position: fixed;
		top: 15px;
		right: 15px;
		z-index: 99;
		color: #fff;
		font-size: 18px;
		opacity: 0;
		visibility: hidden;
		transition: all 350ms;
	}
	&.active{
		.mash{
			opacity: 0.5;
			visibility: visible;
		}
		.close-button{
			opacity: 0.5;
			visibility: visible;
		}
	}
}
//Slidedown content
.slidedown-toggle-button{
	position: relative;
	.button-slidedown{
		cursor: pointer;
		label{
			cursor: pointer;
		}
	}
	.content-slidedown{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
		width: 100%;
		&.no{
			display: none;
		}
	}
}
