//Filter sidebar
body{
	.widget {
		list-style-type: none;
		margin-bottom: 20px;
		border: 1px solid #d7d8da;
		padding: 5px;
		background-color: #f1f1f2;
		font-size: 14px;
		color: #000;
		.widgettitle{
			background-color: #29aae2;
			color: #ffffff;
			display: block;
			font-size: 	13px;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			text-align: center;
			text-transform: uppercase;
			margin-top: 0;
			margin: -5px -5px 20px -5px;
		}
		ul{
			margin: 0;
			padding: 0;
			max-height: 350px;
			overflow-y: auto;
			&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar
				{
					width: 5px;
					height: 5px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: #F90;	
					background-image: -webkit-linear-gradient(45deg,
						rgba(255, 255, 255, .2) 25%,
						transparent 25%,
						transparent 50%,
						rgba(255, 255, 255, .2) 50%,
						rgba(255, 255, 255, .2) 75%,
						transparent 75%,
						transparent)
				}
			ul{
				margin-left: -10px;
				max-height: unset;
				overflow: unset;
			}
			li{
				list-style-type: none;
				border-bottom: 1px dotted #e1e2e3;
				position: relative;
				a{
					color: #000;
					padding: 10px 0;
					display: block;
					&:hover{
						color: #29aae2;
					}
				}
				.count{
					position: absolute;
					top: 10px;
					right: 10px;
					z-index: 2;
					color: #999;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
		&.widget_categories,
		&.widget_product_categories{
			ul{
				li{
					padding: 10px 0 10px 30px;
					position: relative;
					a{
						padding: 0;
					}
					&:before{
						content: "";
						width: 15px;
						height: 15px;
						border: 1px solid #a2a2a2;
						position: absolute;
						left: 5px;
						top: 13px;
						z-index: 1;
						border-radius: 50%;
					}
					&:after{
						content: "\c265";
						font-family: "cleversoft";
						font-size: 8px;
						position: absolute;
						left: 9px;
						top: 15px;
						z-index: 2;
						opacity: 0;
					}
					&.current-cat,
					&:hover{
						&:after{
							opacity: 1;
						}
					}
					a:before{
						content: none;
					}
				}
			}
		}
		
		&.widget_layered_nav{
			.woocommerce-widget-layered-nav-list{
				li{
					padding: 10px 0 10px 30px;
					position: relative;
					a{
						padding: 0;
					}
					&:before{
						content: "";
						width: 15px;
						height: 15px;
						border: 1px solid #a2a2a2;
						position: absolute;
						left: 5px;
						top: 13px;
						z-index: 1;
					}
					&:after{
						content: "\c265";
						font-family: "cleversoft";
						font-size: 8px;
						position: absolute;
						left: 9px;
						top: 15px;
						z-index: 2;
						opacity: 0;
					}
					&.chosen,
					&:hover{
						&:after{
							opacity: 1;
						}
					}
					a:before{
						content: none;
					}
				}
			}
		}
	}
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color: #000;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #000;
}