.ajax-filter-content{
	.filter-key{
		display: flex;
		flex-flow: nowrap;
		padding: 10px 0;
		justify-content: center;
		overflow-x: auto;
		background: #045679;
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar
		{
			height: 8px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: #F90;	
			background-image: -webkit-linear-gradient(45deg,
			                                          rgba(255, 255, 255, .2) 25%,
													  transparent 25%,
													  transparent 50%,
													  rgba(255, 255, 255, .2) 50%,
													  rgba(255, 255, 255, .2) 75%,
													  transparent 75%,
													  transparent)
		}
		li{
			list-style-type: none;
			padding: 0 10px;
			a{
				position: relative;
				padding-bottom: 5px;
				white-space: nowrap;
				color: #fff;

				&:after{
					content: '';
					width: 0;
					height: 2px;
					background-color: #fff;
					position: absolute;
					left: 50%;
					bottom: 0;
					z-index: 1;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					-webkit-transition: all 350ms;
					transition: all 350ms;
				}
				&:hover,
				&.active{
					&:after{
						width: 100%;
					}
				}
			}
		}
		
	}
	.loading{
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 10px 0;
		opacity: 0;
		visibility: hidden;
		img{
			width:30px;
		}
		&.active{
			opacity: 1;
			visibility: visible;
		}
	}

}
@media (max-width: 1024px){
	.ajax-filter-content .filter-key{
		justify-content: flex-start;
	}
}